* {
    box-sizing: border-box;
}

.contactForm {
    width: 50%;
    padding: 20px;
    border-radius: 50px;
    margin: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;

    -o-border-radius: 50px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contactForm form * {
    margin: 5px;


}

textarea {
    width: 100%;
}

.contactForm form div input {
    width: 100%;
}

.contactFormIntro {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.mainContact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div i {
    width: auto;
    height: auto;
}

.contactInfo {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contactInfo p {
    margin-left: 5px;
}

@media (max-width:700px) {
    .mainContact {
        display: flex;
        flex-direction: column;
    }

    .contactForm {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .contactFormIntro {
        margin: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 150px;
    }


}