.searchEngine {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 20px;
    margin: auto;
    text-align: center;
    /* Pick this class if you want to organize any text */

}

form[role="search"] {
    justify-self: center;
    align-self: center;

}

.searchEngine>div {
    width: 50%;
    text-align: center;
    justify-content: center;

}

* {
    box-sizing: border-box;

}

.itemdata:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* container d-flex justify-content-space-between */